.icon{
    width: 24px;
    height: 24px;
    margin: 10px;
    padding: 0px;
}
.data{
    align-content: center;
}
.card{
    width: 309px;
    height: 266px;
    padding: 24px;
    margin: 12.5px;
    gap: 24px;
    border-radius: 16px;
    opacity: 0px;

    box-shadow: 0px 0px 20px 0px #0000001A;
    background-color: #FFFFFF;
}
.card table{
    width: 100%;
    font-weight: 700;
    font-size: 24px;

}

.card table tr{
    width: auto;
    height: auto;
    padding: 0%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card table tr td{
    width: auto;
    height: auto;
    padding: 0%;
}

.searchContainer{
    padding: 59px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
.search{
    width: calc(100% - 72px);
    margin: 0px 12.5px 25px 12.5px;
    border: solid 1px #D4DEFE;
    height: 48px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    padding:0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: calc(100% - 95px);
    height: calc(100%-1px);
    font-size: 24px;
    border-color: transparent;
    outline: none;
}

.backDiv{
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #BCC3D080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.view{
    width: 500px;
    height: 468px;
    width: Fixed (500px)px;
    gap: 40px;
    border-radius: 16px;
    opacity: 0px;
    background-color: #FFFFFF;
    padding: 20px 40px;
}
.exitImg{
    width: 20px;
    height: 20px;
}
.viewHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.viewHeader h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.viewProperties{
    margin: 20px 0px;
}
.viewProperties tr td{
    
    font-weight: 400;
    line-height: 24px;
}
.viewProperties tr td:first-child{
    width: calc(100%/3);
    font-size: 18px;
    color: #262C40;
}
.viewProperties tr td:last-child{
    font-size: 16px;
    color: #8189A3;
    
}
.additionalInfo{
    margin: 20px 0px;
}
.additionalInfo h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #262C40;
}
.additionalInfo p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #8189A3;
}